header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px 0px rgba(126, 126, 126, 0.291);
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.link-route {
  font-weight: normal;
}
.curr-route {
  background-color: rgba(227, 227, 227, 0.477);
  font-weight: bolder;
}
a {
  text-decoration: none;
}
