.task-detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container {
  border-radius: 15px;
  box-shadow: 3px 3px 5px 3px gainsboro;
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 226, 226);
  padding-bottom: 30px;
}
.input-container {
  font-size: larger;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.input-container label {
  display: block;
  font-size: x-large;
}
.input-container input {
  width: 50%;
  height: 30px;
  font-size: large;
  border: 0;
  border-radius: 12px;
}
.input-container input[type="checkbox"] {
  height: 20px;
}

.btn-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.btn-container button {
  border: 0;
  border-radius: 12px;
  height: 30px;
  width: 60px;
  transition: all linear 300ms;
}
.btn-container button:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px 3px rgb(134, 134, 134);
  transform: translate(1.4);
}
