.container {
  width: 600px;
  height: 700px;
  background-color: white;
  box-shadow: 0px 1px 98px 32px rgba(181, 181, 181, 0.89);
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 129px 1fr 60px;
}
.route-container {
  padding: 10px;
  background-color: rgb(237, 237, 237);
  overflow: auto;
}
.route-container::-webkit-scrollbar {
  width: 0.5em;
}

.route-container::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.route-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(169, 169, 169);
  outline: 1px solid rgb(112, 128, 144);
}
