/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");

body {
  font-family: "Crimson Pro", serif;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
